{% extends "blog/base.html" %}
{% block content %}
		<h1>About Canned Solutions</h1>
		<br>




<div>
The "Canned Solutions" is a, actually is the compendium of all knowledge available in all known and unknown terrestric territories about canned food and possibly also canned beer, intended to preserve that knowledge to any remote region of the world in the event of a foreseen global catastrophe. 
<br>
<br>
Furthermore, as it is the first common known collection of information about canned food and possibly also canned beer, it claims itself to be the first and only legitimate Encyclopædia in the world about the previous mentioned things.
<br>
<br>
In this Online-Knowledge-Compendium, users shall create an account and contribute with their knowledge, opinions and especially photos about their personal hands-on culinary tin program experience.
</div>
<br>
<br>

<div>
<b>Definition of Steel and tin cans:</b>
A steel can, tin can, tin (especially in British English, Australian English, Canadian English and South African English), steel packaging, or can is a container for the distribution or storage of goods, made of thin metal. Many cans require opening by cutting the "end" open; others have removable covers. Cans hold diverse contents: food, beverages, oil, chemicals, etc. Steel cans are made of tinplate (tin-coated steel) or of tin-free steel. In some dialects, even aluminium cans are called "tin cans".[source:Wikipedia]
</div>
{% endblock content %}



